.Wrapper {
    display: flex;
}
.showSideNav{
    border: 1px solid #e0e0e0;
    padding: 5px;
    color: #fff;
    width: 300px;
    height: inherit;
    background:  #616161;       /*#3e2723;*/
    font-size: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    overflow-y: hidden;
    transition: 0.5s;
    
}
.sideNav hr{
    background: grey
}
.Wrapper > .hideSideNav{
    width: 0px;
}
.Content{
width: 100%;
}
@media (max-width: 768px){
    .showSideNav {
        position: fixed;
        top: o;
        height: 100%;
    }
}
.NavBar{
    position: fixed;
    z-index: 3;
    background:  #8bc34a;
   color: #424242;
    width: 100%;
    top: 0px;
    padding: 2px;
}
.Container {
    margin-top: 90px
}
.navlink  {
    color: #424242;
  }
  .link {
      color: #424242;
      text-decoration: underline
  }
  .navlink :hover {
      color: #8bc34a;
      border: solid 1px grey
  }
  .option{
      cursor: pointer;
  }
  .right {
    float: right;
}
.menu {
    cursor: pointer;
}
.dashboard{
    height: 60px;
}