ul {
    white-space: nowrap;
    overflow-x: auto;
}

.navs > li {
    display: inline-block;
    float: none;
}
.navs > li > :hover {
    color:  #8bc34a;
}
.navlink {
    color:grey;
    font-size: 16px;
    margin-right: 5px;
}
.menuLinks {
    color: #eeee;
    font-size: 16px;
}
.nav :hover {
    color: #8bc34a;
}