ul {
    white-space: nowrap;
    overflow-x: auto;
}

ul > li {
    display: inline-block;
    float: none;
}
ul > li > :hover {
    color:  #8bc34a;
}
.navlink {
    color: grey;
    font-size: 18px;
}