.details {
    padding: 10px;
    text-align: center;
    margin: auto
}
.delete {
    float: right;
    padding: 1opx;
    cursor: pointer;
}
#orderButton, #actionBtn {
    background: #8bc34a;
}
.modalHeader {
    background: #8bc34a;
    color: white
}